h1,
.empty-cart {
  text-align: center;
}

.cart-item {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  .item-image {
    img {
      width: 300px;
    }
  }

  .name-price {
    h4 {
      margin: 0;
    }
    p {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .btns-container {
    button {
      border: none;
      padding: 0.5rem;
      cursor: pointer;
      font-size: 10px;
      margin-right: 5px;
    }

    .btn-increase {
      color: #fff;
      background-color: #1a1a1a;
    }

    .btn-decrease,
    .btn-trash {
      color: #fff;
      background-color: #d9534f;
    }
  }

  @media (min-width: 1024px) {
    .cart-item {
      display: flex;
      flex-direction: column-reverse;
      margin: 0 auto;
      align-items: left;
      justify-content: center;
    }
    .details {
    }
  }
}
