h1,
.empty-cart {
  text-align: center;
}

.cart-main {
  margin-top: 5%;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}
.tag-dono {
  margin-top: 10px;
}
hr {
  width: 20%;
  margin: 0 auto;
  align-items: center;
  align-self: center;
}

.pricey {
  margin-top: 5px;
}
.cart-item {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  .item-image {
    img {
      width: 300px;
    }
  }

  .name-price {
    h4 {
      margin: 0;
    }
    p {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }

  .btns-container {
    button {
      border: none;
      padding: 0.5rem;
      cursor: pointer;
      font-size: 10px;
      margin: 0;
      background-color: transparent;
    }

    .btn-increase {
      width: 40px;
    }

    .btn-decrease,
    .btn-trash {
      width: 40px;
    }
  }

  .total-container {
    margin: 5rem;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .cart-item {
    display: flex;
    flex-direction: column;
  }
  .total-container {
    margin: 1rem;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 1124px) {
  .cart-item-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .browser-cart {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
  }
  .total-container {
    padding: 80px;
    height: 300px;
  }
  .hr-mobile {
    display: none;
  }
}
