.main-tag {
  font-size: 2rem;
  font-weight: 700;
}
.sub-tag {
  font-weight: 400;
  font-size: 1.1rem;
}
.main-asset {
  width: 100%;
}
.jumbo-main {
  background-image: url("../../assets/clouds.jpg");
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.container {
  color: rgb(34, 39, 44);
}
