/* upload form styles */
:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}
/* upload form styles */
form {
  margin: 0px auto;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 40px;
  margin: 0 auto;
  background-color: #7996c5;
  border: none;
  color: #fff;
  font-weight: bold;
  line-height: 2rem;
  cursor: pointer;
}
label:hover {
  width: 50%;
  height: 40px;
  margin: 0 auto;
  background-color: #9fbbe7;
  border: none;
  color: #fff;
  font-weight: bold;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}
