// .main {
//   margin: 0 auto;
// }
.ashley-start {
  margin-top: 30vh;
}

.text-raised {
  font-size: 1.3rem;
}

.ashley {
  max-width: 260px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.image-name {
  margin: 0 auto;
}
.main {
  margin-top: 15vh;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.store-owner-summary {
  text-align: center;
}
.master-background {
  background-image: url("../../assets/cloudhalf.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.tshirt-container {
  display: flex;
  flex-direction: row;
}

.t-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.t-image {
  max-width: 400px;
}

.order-now {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  background-color: #b2c3de;
  border: none;
  color: #fff;
  font-weight: bold;
}

.alert {
  margin: 0 auto;
  width: 30%;
}

.comments-container {
  align-items: flex-start !important;
}

.t-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.message-btn {
  background-color: #b2c3de;
  border: none;
  max-height: 50px;
  color: #fff;
}

.store-owner {
  margin-top: 20px;
  font-size: 1.7rem;
}
.t-details {
  font-size: 0.8rem;
}
// .card {
//   justify-content: center;
//   align-items: center;
// }

@media (max-width: 1027px) {
  .tshirt-container {
    flex-direction: column;
    width: 100%;
  }

  .order-now {
    width: 80%;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .message-btn {
    background-color: #b2c3de;
    border: none;
    max-height: 50px;
    color: #fff;
    margin-left: 10px;
  }

  .comments-container {
    align-items: flex-start !important;
    margin-right: 10px;
  }

  .main {
    margin: 5vh auto;
    width: 100%;
  }

  .t-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .t-image {
    min-width: 200px;
  }
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  .card {
    display: relative;
    margin: 0 auto;
    width: 100%;
  }
  .comments-container {
    display: none;
  }
}
